.chatwindow {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 700px;
  padding: 12px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0px 8px var(--color-box-shadow);
}

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  height: 100%;
}

.messages-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.error-message {
  color: red;
  font-size: 12px;
}
