.message {
  display: inline-block;
  max-width: 80%;
  font-size: 12px;
  margin: 5px 0;
  padding: 0 15px 0 15px;
  text-align: start;
  word-break: break-word;
}

.message.user {
  background-color: var(--color-user-bg);
  color: white;
  border-radius: 20px 0 20px 20px;
}

.message.chatbot {
  background-color: var(--color-chatbot-bg);
  color: black;
  border-radius: 0 20px 20px 20px;
}

.message-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.message-container.user {
  align-self: flex-end;
}

.message-container.chatbot {
  align-self: flex-start;
}

.message-actions-container {
  display: flex;
  gap: 2px;
  align-items: center;
}

.edit-container {
  background-color: var(--color-user-bg);
  opacity: 0.85;
  border-radius: 20px 0 20px 20px;
  padding: 15px;
}

.edit-input {
  border-radius: 20px 0 20px 20px;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
}

.edit-input::placeholder {
  color: lightgray;
}

.edit-save-button {
  background-color: transparent;
  color: white;
  border: none;
}

.edit-save-icon {
  background-color: transparent;
  color: white;
  height: 15px;
  height: 15px;
}
