.message {
  display: inline-block;
  max-width: 80%;
  font-size: 12px;
  margin: 5px 0;
  padding: 0 15px 0 15px;
  text-align: start;
}

.message.user {
  background-color: var(--color-user-bg);
  color: white;
  border-radius: 20px 0 20px 20px;
}

.message.chatbot {
  background-color: var(--color-chatbot-bg);
  color: black;
  border-radius: 0 20px 20px 20px;
}

.message-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.message-container.user {
  align-self: flex-end;
}

.message-container.chatbot {
  align-self: flex-start;
}

.message-actions-container {
  display: flex;
  gap: 2px;
  align-items: center;
}
